@CHARSET "UTF-8";
div.container-fluid,div.row,*{
	margin:0;
	padding:0;
}
.table>tbody>tr>td.info{
	vertical-align: middle;
	text-align:center;
	width:20%;
}
.table>tbody>tr>td.info + td{
	width:30%;
}
div.center{
	text-align:center;
}
input.form-control{
	width:65%;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    color: #fff;
    text-decoration: none;
    background-color: #337ab7;
}